<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.user">

    <application >
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AttentionActivity"/>
    </application>
</manifest>